<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/tx/spring-tx-2.5.xsd/spring-spring-tx-2.5.xsd-3.1.2.RELEASE.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util-2.5.xsd"> 


	<!-- objects test inject to pelpEnigne -->

	<bean id="lcctj" class="edu.uoc.pelp.engine.campus.UOC.CampusConnection">
		<constructor-arg type="java.lang.String"
			value="11e7592afee1c0b7674ba1324d21376bde966b2106ffd8417a2c1006e96b01fd409238675dd043873d4e4c3beb98238461c559093ae38a0aa2325d697dde8e18" />
	</bean>
	<!-- TEMPORAL -->
	<bean id="lcct" class="edu.uoc.pelp.test.tempClasses.LocalCampusConnection">
	</bean>
	<!-- FIN TEMPORAL -->

	<bean id="pcpct" class="edu.uoc.pelp.test.tempClasses.PCPelpConfiguration">
	</bean>

	<bean id="bUOC" class="edu.uoc.pelp.bussines.UOC.UOCPelpBussinesImpl">
		<constructor-arg ref="lcct" />
		<constructor-arg ref="sessionFactory" />
		<constructor-arg ref="pcpct" />
	</bean>

	<!-- service objects -->

	<bean id="pelpService" class="edu.uoc.pelp.services.PelpServiceImpl">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="campusConnection" ref="lcct" />
		<property name="configuration" ref="pcpct" />
		<property name="bussines" ref="bUOC" />
	</bean>

	<!-- ACTIONS -->

	<bean id="teacherSpringAction" class="edu.uoc.pelp.actions.TeacherAction">
		<property name="bUOC" ref="bUOC" />
	</bean>
	
	<bean id="deliversSpringAction" class="edu.uoc.pelp.actions.DeliveriesAction">
		<property name="bUOC" ref="bUOC" />
	</bean>

	<!-- post-processors for all standard config annotations -->
	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<!-- The singleton hibernate session factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
		<property name="packagesToScan">
			<list>
				<value>edu.uoc.pelp.model.vo</value>
                <value>edu.uoc.pelp.model.vo.UOC</value>
                <value>edu.uoc.pelp.model.vo.admin</value>
			</list>
		</property>
	</bean>

	<!-- Spring's hibernate transaction manager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- DAOS -->
	
	<bean id="dActivity" class="edu.uoc.pelp.model.dao.ActivityDAO">
		<constructor-arg ref="sessionFactory" />
	</bean>
	<bean id="dAdministrationDAO" class="edu.uoc.pelp.model.dao.admin.AdministrationDAO">
		<constructor-arg ref="sessionFactory" />
	</bean>

	<!-- So classes/functions with @Transactional get a hibernate txn -->
<!-- 	<tx:annotation-driven /> -->
</beans>

